.my-cart{
  padding: 70px;
  ul{
    list-style-type: none;
  }
  .item{
    width: 100%;
    border-bottom: 1px #333333 solid;
    display:flex;
    height: 80px;
    .image{
      padding-right: 12px;
    }
    .name{
      min-width: 100px;
      padding-right: 20px;

    }
    .price{
      text-align:right;
    }
  }
}